@charset "UTF-8";
/*Css 初始化*/
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}

/*让这些的标签内外边距都是0*/
fieldset, img { border:none;}
ul,ol,li{ list-style:none; }
body { color:#515151;}

/*清除浮动*/
.clearfix:after { content:"."; display:block; height:0;visibility:hidden; clear:both; }
.clearfix { zoom:1; }
.clearit { clear:both; height:0; font-size:0;overflow:hidden;}

/*a标签*/
a{ color:#666; text-decoration:none; }
a:visited { color:#666; }
a:hover, a:active, a:focus { text-decoration:none; }

html {font-size:625%;}
body{font-size:.16rem; font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif;}
p{word-wrap:break-word;}
div{box-sizing: border-box;}
img{display: block;max-width: 100%;}
h1,h2,h3,h4,h5{font-weight: normal;}

.fl {float: left;}
.fr {float: right;}
